
<table>
<thead>
<tr>
<th>Name</th>
<th>Email</th>
<th>Address</th>
<th>Phone</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
{% for contact in object_list %}
<tr>
<td>{{ contact.name }}</td>
<td>{{ contact.email }}</td>
<td>{{ contact.address }}</td>
<td>{{ contact.phone }}</td>
<td>
<a  href="{{ contact.get_absolute_url_detail }}">details</a>
<a  href="{{ contact.get_absolute_url_update }}">edit</a>
<a  href="{{ contact.get_absolute_url_delete }}">delete</a>


</td>
</tr>

{% endfor %}
</tbody>
</table>
